<div class="modal fade" tabindex="-1" role="dialog" id="hero">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title font-comic">{{selectedHero.name}}</h2>
        <p class="size-18 font-comic"><strong> A.K.A : </strong>{{selectedHero.real_name}}</p>
      </div>
      <div class="modal-body">
      <div class="img-container">
        <img ng-src="{{selectedHero.image}}">
      </div>
        <h4 class="font-comic">Powers : </h4>
        <p class="size-18">{{selectedHero.powers_short}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
